/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  background-color: #09090b; /* Fundo Preto */
  color: #f4f4f5; /* Texto Branco */
  overflow-x: hidden; /* Evita barra de rolagem horizontal */
}
