@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b; /* Zinc 950 */
  color: #f4f4f5; /* Zinc 100 */
  overflow-x: hidden; /* Evita rolagem lateral indesejada */
}
